<!DOCTYPE html>
<html lang ="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Scrape the News</title>
  </head>
  <body>

    <nav>
      <div class="nav-wrapper orange">
        <a href="/" class="brand-logo center">Scrape The News</a>
        <ul class="left" id="nav-mobile">
          <li><a href="/savedArticle">Saved Articles</a></li>
        </ul>
        <ul class="left" id="nav-mobile">
          <li><a href="/articles">All Articles</a></li>
        </ul>
        <ul class="right" id="nav-mobile">
          <li><a href="/scrape">Scrape</a></li>
        </ul>
      </div>
    </nav>
    
    <main>
      <div class="container">
        {{{ body }}}
      </div>
    </main>

    <footer class="page-footer orange">
      <div class="footer-copyright orange">
        <div class="container">
          All articles belong to <a href='https://www.echojs.com/' target="_blank">Echojs.com</a>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </body>
<html>