<div class="row">
  <div class="col s2"></div>
  <div class ="col s8 left-align">

    {{#each article}}
      <div class="card-panel">
        <h4>{{this.title}}</h4>

        <a href = "{{this.link}}" class="waves-effect waves-light btn light-blue lighten-1" id="btnSignUp">Read Article</a>
        
        <form action="/save/{{this._id}}" method="POST">
          <input class="btn add-note-button orange lighten-1" type="submit" value="Save Article">
        </form>

        <form action="/note/:id" method="POST"></form>
          <input href = "/note/:id" class="btn add-note-button orange lighten-1" type="submit" value="Save Note">
        </form>

      </div>

    {{/each}}

  </div>
</div>